{% extends "base.html" %}

{% block title %}Forgot Password - TalentNest{% endblock %}

{% block content %}

<div class="forgot-page">

    <div class="forgot-card">

        <h3 class="section-title text-center mb-4">
            <i class="bi bi-key"></i> Forgot Password
        </h3>

        <form method="POST" action="{{ url_for('forgot_password') }}">

            <div class="mb-3">
                <label class="form-label">
                    Enter your registered email
                </label>

                <input type="email"
                       class="form-control"
                       name="email"
                       required>
            </div>

            <button type="submit" class="btn btn-tn-primary w-100">
                Send Reset Link
            </button>

        </form>

        <p class="forgot-login-text">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </p>

    </div>

</div>

{% endblock %}